@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  background-color: rgba(236, 237, 238, 0.199);
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.active {
  /* background-color: rgb(133, 144, 145); */
  color: skyblue;
  /* padding: 5px; */
}
form {
  gap: 7px;
  padding: 1.5rem;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  bottom: 49px;
  font-size: 1rem;
  padding-left: 4px;
  transition: 75ms linear;
  background-color: inherit;
}
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.lexend-deca-<uniquifier> {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
